<?xml version='1.0' encoding='utf-8'?>
<widget id="com.outsystems.plugins.osgeolocation" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OSGeolocationPlugin</name>
    <description>Template cordova plugin with Synapse</description>
    <author>OutSystems Inc</author>

    <js-module name="OSGeolocation" src="packages/cordova-plugin/dist/plugin.js">
        <clobbers target="cordova.plugins.OSGeolocation" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OSGeolocation">
                <param name="android-package" value="com.outsystems.plugins.osgeolocation.OSGeolocation" />
                <param name="onload" value="true" />
            </feature>
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>

        <source-file src="packages/cordova-plugin/android/OSGeolocation.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/osgeolocation" />
        <source-file src="packages/cordova-plugin/android/OSGeolocationPermissionEvents.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/osgeolocation" />
        <source-file src="packages/cordova-plugin/android/OSGeolocationErrors.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/osgeolocation" />
        <framework src="packages/cordova-plugin/android/build.gradle" custom="true" type="gradleReference" />
        
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="OSGeolocation">
                <param name="ios-package" value="OSGeolocation" />
            </feature>
            <preference name="SwiftVersion" value="5" />
        </config-file>

        <source-file src="packages/cordova-plugin/ios/OSGeolocation.swift" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="OSGeolocationLib" path="packages/ios-lib" />
            </pods>
        </podspec> 
    </platform>
</widget>
